.categoria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  justify-content: center;
  gap: 16px;
}

.categoria img {
  max-height: 175px;
}

.produtos__descricao {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 600px) {
  .categoria {
    display: flex;
    overflow-x: scroll;
    justify-content: initial;
  }
  .categoria li {
    min-width: 150px;
  }
}
